<html>
  <head>
    <title>About</title>
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='css/food.css') }}">
  </head>
  <ul>
      <li class="arial"><a href="./">Home</a></li>
  </ul>
  <body>
    <div class="body">
      <h1 class="body title">About</h1>
      <p class="arial">As hippocrates one said <q>“Let food be thy medicine and medicine be thy food.”</q></p>
      <p class="arial">Never before has this been more true but its become increasingly hard to find a good 
        place to eat. Hopefully, this website will help you in your time of hunger. </p>
    </div>
  </body>
</html>